<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./eventEmitter.js"></script>
    <script src="./mvvm.js"></script>
    <script src="./observer.js"></script>
    <script src="./compiler.js"></script>
</head>
<body>
    <div id="app">
        <p v-show="isSHow">msg:{{msg}} age:{{age}} </p>
        <p class="main" v-text="msg"></p>
        <span>{{age}}   {{  age   }} {{msg}}</span>
        <div><span>{{age}}</span>   <span>{{age}}</span></div>
        msg:<input type="text" v-model="msg">
        age:<input type="text" v-model="age">
    </div>
    <script>
        const vm = new Mvvm({
            el: '#app',
            data:{
                msg: 'abc',
                age: 100,
                isSHow: true
            }
        })
        console.log(vm)
    </script>
</body>
</html>
